/*buutton_active_theme*/
button#btnChange {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    transition: all .1s;
    background: white;
    color: black;
    border: 1px solid black;
    font-size: 15px;
    font-weight: bold;
}

button#btnChange:hover {
    background: yellow;
    color: black;
}

button#btnChange:active {
    background: rgb(160, 160, 0);
}

.container.theme h1.title_top {
    color: black;
}

.container.theme body {
    background: white;
}

.container.theme input {
    border: 1px solid yellow;
    color: white;
}

.container.theme button#btnChange {
    background: rgb(72, 72, 72);
    color: yellow;
}

