* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
}

.box_log {
    position: relative;
    height: 500px;
    width: 400px;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 2px yellow;    
}

.logo_top, h1.title_top, .logo_bottom {
    text-align: center;
}

h1.title_top {
    margin-bottom: 50px;
    color: yellow;
}

/*image*/
img.back_img{
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px;
    height: 500px;
    width: 400px;
    opacity: .3;
    z-index: -10;
}

img.img_logo_top {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.5s;
    animation: ease-in-out;
}

.logo_bottom {
    margin-top: 20px;
    transition: all .5s;
}

img.img_logo_bottom {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

form {
    display: grid   ;
    justify-content: center;
    margin-top: 20px;
}

input {
    padding-left: 10px;
    margin: 8px 0 8px 0;
    height: 30px;
    width: 300px;
    border-radius: 8px;
    border: 1px solid black;
    background: transparent;
    font-size: 15px;
    font-weight: 500;
    color: yellow;
    border: 1px solid yellow;
}

/*se_connecter_annimation*/
input#email_1 {
    animation: fadeIn_1 1s ease-in-out;
}

input#mdp_1 {
    animation: fadeIn_1 1.5s ease-in-out;
}

/*s_inscrire_annimation*/
input#nom {
    animation: fadeIn_1 0.3s ease-in-out;
}

input#prenom {
    animation: fadeIn_1 0.6s ease-in-out;
}

input#email {
    animation: fadeIn_1 0.9s ease-in-out;
}

input#mdp {
    animation: fadeIn_1 1.1s ease-in-out;
}

input#confirmation {
    animation: fadeIn_1 1.4s ease-in-out;
}

/*Boutton*/
.btn {
    display: grid;
    justify-content: center;
}

button#connexion, 
button#s_inscrire, 
button#enregistrer, 
button#dejaCompte {
    position: relative;
    padding: 4px 0;  
    border-radius: 8px;
    cursor: pointer;   
    border: 1px solid yellow;
    background: none;
    transition: all .5s;
}

button#connexion:hover, 
button#s_inscrire:hover, 
button#enregistrer:hover, 
button#dejaCompte:hover {
    background: yellow;
}

button#connexion, button#enregistrer {
    margin-top: 20px;
}

button#s_inscrire {
    margin-top: 90px;
}

button#dejaCompte {
    margin-top: 10px;
}

button#connexion a, 
button#s_inscrire a, 
button#enregistrer a, 
button#dejaCompte a {
    font-size: 15px;
    color: yellow;
    font-family: monospace;
    font-weight: bold;
    text-decoration: none;
    padding: 4px 20px;
}

button#connexion a:hover, 
button#s_inscrire a:hover, 
button#enregistrer a:hover, 
button#dejaCompte a:hover {
    color: black;
}